//COLORS
$AccentColor1: #FA8072;
$AccentColor2: #FCD87D;
$AccentColor2Light: #F9E5B3;
$LinearGradient: linear-gradient(180deg, #FC7D7D 0%, #FE8C4C 100%);
$MainFontColor: #716F75;
$MainFontColorLight: #A0A0A0;
$LightGray: #C9C9C9;
$AccentColorFont: #EDE7E7;
$WhiteSmoke: #F5F5F5;
$NeonGreen: #64FDA1;
$Link: #7DB0FC;
$Alert: #FF6961;
$White: #ffff;
$FaintingGray: #E5E5E5;

//FONT SIZES
$font-size-h1: 45px;
$font-size-h2: 30px;
$font-size-h3: 25px;
$font-size-larger: 18px;
$font-size-regular: 16px;
$font-size-small: 12px;

// FONT WEIGHTS
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;

//ICON SIZES
$icon-size-large: 30px;
$icon-size-extra-medium: 30px;
$icon-size-medium: 30px;
$icon-size-regular: 30px;



//TRANSITION TIME
$transition-duration-default: .2s;