.btn {
  width: 125px;
  height: 50px;
  font-size: $font-size-larger;
  border-radius: 10px;
  border: none;
  color: $button-color;
  transition: transform $transition-duration-quick ease-in-out;

  &--raw {
    background: none;
    width: auto;
    height: auto;
  }
  &--default {
    background-color: $button-background-color;
    box-shadow: $box-shadow-button;
  }
  &--default:focus {
    background-color: darken($button-background-color, 10%);
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $button-background-color;
    box-shadow: $box-shadow-button;
  }

  &--disabled {
    background-color: $button-background-color-disable;
  }
}
.btn:focus {
  transform: scale(1.15);
}
.btn:hover {
  transform: scale(1.1);
}
