.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.error-list {
  color: $Alert;
  list-style: none;
  overflow: auto;
  * {
    padding: 0.25rem 0;
  }
}
.active {
  color: $AccentColor1 !important;
}

.bold {
  font-weight: $font-weight-bold;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  bottom: 0;
}
