.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.error-list {
  color: $Alert;
  list-style: none;
  overflow: auto;
  * {
    padding: 0.25rem 0;
  }
}
.active {
  color: $AccentColor1 !important;
}
.disable {
  opacity: 0.5;
  pointer-events: none;
}
.info-toast.toasted.toasted-primary{
  background-color:$AccentColor1 !important;
  font-weight: bold !important;
  border-radius: 5px !important;
}
.info-toast.toasted.outline{
  border-color: $AccentColor1 !important;
  color: $AccentColor1 !important;
}
.error-toast.toasted.toasted-primary{
  background-color: darken($Alert,10%) !important;
  font-weight: bold !important;
  border-radius: 5px !important;
}
.error-toast.toasted.outline{
  border-color:darken($Alert,10%) !important;
  color: darken($Alert,10%) !important;
}
.bold {
  font-weight: $font-weight-bold;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  bottom: 0;
}
.disabled{
  pointer-events: none;
  opacity: 0.5;
}