.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.error-list {
  color: $Alert;
  list-style: none;
  overflow: auto;
  * {
    padding: 0.25rem 0;
  }
}
.active {
  color: $AccentColor1 !important;
}

.bold {
  font-weight: $font-weight-bold;
}
