@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: $font-size-regular;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: $MainFontColor;
}

button {
  cursor: pointer;
}

input {
  background: $input-background-color;
  border: 1px solid $input-border-color;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}
input:focus {
  border-color: $input-border-color-focused;
}

textarea:focus {
  border-color: $input-border-color-focused;
}

textarea {
  background: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: 10px;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-larger;
}
